Carlos Alberto Galeana Betancourt
06/02/2022

# Ejercicio 1 Transformar cadenas

In [56]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [57]:
# Añade el código necesario
dividido = text.split('.')
dividido

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

In [58]:
# Define las palabras pista: average, temperature y distance suenan bien
palabras_clave = ["average", "temperature", "distance"]

In [59]:
for item in dividido:
    for key_word in palabras_clave:
        if key_word in item:
            print(item)
            break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [60]:
# Ciclo para cambiar C a Celsius
for item in dividido:
    for key_word in palabras_clave:
        if key_word in item:
            print(item.replace('C', 'Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

# Ejercicio 2: Formateando Cadenas

In [61]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [62]:
# Creamos el título
titulo = f'Datos de gravedad sobre: {name}'
titulo

'Datos de gravedad sobre: Moon'

In [63]:
# Creamos la plantilla
hechos = f"""{'-'*80} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""
hechos

'-------------------------------------------------------------------------------- \nNombre del planeta: Earth \nGravedad en Moon: 1.6199999999999999 m/s2 \n'

In [64]:
# Unión de ambas cadenas
union = f"""{titulo.title()} 
{hechos} """
print(union)

Datos De Gravedad Sobre: Moon
--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [65]:
# Nuevos datos muestra
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
# Comprueba la plantilla
# print(nombre_plantilla)
print(union)

Datos De Gravedad Sobre: Moon
--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [66]:
# Nueva plantilla
nueva_plantilla = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(nueva_plantilla.format(nombre=nombre,planeta=planeta,gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [67]:
# Pista: print(nueva_plantilla.format(variables))
print(nueva_plantilla.format(nombre=nombre,planeta=planeta,gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2