In [1]:
#Crear lista
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [2]:
#Acceder a los elementos de una lista
print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The third planet is', planets[2])

The first planet is Mercury
The second planet is Venus
The third planet is Earth

In [3]:
#Modificación de una lista
planets[3] = 'Red Planet'
print('Mars is also known as', planets[3])

Mars is also known as Red Planet

In [4]:
#Longitud de una lista
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system.')

There are 8 planets in the solar system.

In [5]:
#Agregar valores a las listas
#Agregando un valor al final de la lista
planets.append('Pluto')
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system.')

There are actually 9 planets in the solar system.

In [6]:
#Eliminando valroes de las listas
#Eliminando el ultimo valor de la lista
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system.')

No, there are definitely 8 planets in the solar system.

In [7]:
#Índices negativos, inicia en 0 la lista, pero si es en reversa, el ultimo valor toma -1 (Neptune en nuestro caso)
print("The first planet is", planets[0])
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The first planet is Mercury
The last planet is Neptune
The penultimate planet is Uranus

In [8]:
#Buscar un valor en una lista, si no encuentra coincidencia devuelve -1
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')

Jupiter is the 5 planet from the sun

In [10]:
#Almacenar números en listas
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

#En el siguiente ejemplo, puedes calcular el peso de un bus de dos pisos en diferentes planetas obteniendo el valor de la lista:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

In [11]:
#Función min y max
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

In [15]:
#Manipulando datos de una lista (slice: crea una nueva lista. No modifica la lista actual.)
#Obtener planetas antes de la tierra
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)
#Obtener planetas despues de la tierra
planets_after_earth = planets[3:8]
print(planets_after_earth) 
planets_after_earth = planets[3:] #Python asume que deseas ir al final de la lista
print(planets_after_earth)

['Mercury', 'Venus']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [16]:
#Uniendo listas
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [17]:
#Ordenar listas (sort:orden alfabetico o numéricos, modifica la lista actual)
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)
regular_satellite_moons.sort(reverse=True) #ordenar una lista en forma inversa,
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']
The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']